@model MvcOnlineTradeAutomation.Models.Class.SalesMovement
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Satış Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Product)
    @Html.DropDownListFor(x => x.ProductsID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    @Html.Label("Trade")
    @Html.DropDownListFor(x => x.TradeID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Personnel)
    @Html.DropDownListFor(x => x.PersonnelID, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.quantity)
    @Html.TextBoxFor(x => x.quantity, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Price)
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TotalAmount)
    @Html.TextBoxFor(x => x.TotalAmount, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Satış Yap</button>
</form>


